/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
	--color-bg: #0f162d;
	--color-card-bg: #272d42;
	--color-card-bg-violet: #ca59ff20;
	--color-card-bg-dark-blue: #6c7cff20;
	--color-card-bg-green: #2affff20;
	--color-card-bg-yellow: #fff62920;
}
